<head>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="icon" href="/static/favicon.png">
    <link href="static/styles.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
</head>

<form action = '/v0/get_predict', method = 'post', id = 'form'>

    <p>Insert the measures in the inputs to get the flower type</p>

    <div>
        <label for="measure1">Sepal Length:</label>
        <input type="number" step="0.01" id="feat1" name="feat1" required>
    </div>

    <div>
        <label for="measure2">Sepal Width:</label>
        <input type="number" step="0.01" id="feat2" name="feat2" required>
    </div>

    <div>
        <label for="measure3">Petal Length:</label>
        <input type="number" step="0.01" id="feat3" name="feat3" required>
    </div>

    <div>
        <label for="measure4">Petal Width:</label>
        <input type="number" step="0.01" id="feat4" name="feat4" required>
    </div>

    <div>
        <input type="submit" value="Submit">
    </div>
</form>
